<div class="column">
    <div class="card">
        <!-- Title -->
        <header class="card-header">
            <p class="card-header-title">
                <a href="<%- config.root %><%- item.path %>" style="margin-right: 12px;">
                    <span class="has-text-info"><%- item.title %></span>
                </a>
                <% if(item.website) { %>
                    <a href="<%- config.url + item.website %>" target="_blank">
                        <span style="font-size: 12px;color:#ccaa74;">参观>></span>
                    </a>
                <% } %>
            </p>
            <span class="card-header-icon">
                <i class="fa fa-calendar"></i>&nbsp;
                <%= item.date.format(config.epoch_format) %>
            </span>
        </header>

        <div class="card-image">
            <figure class="image is-fullwidth">
                <a href="<%- config.root %><%- item.path %>" class="excerpt-card-img"
                    style="background-image: url('<%- item.screenShot?item.path+item.screenShot:theme.thumbimg %>')">
                </a>
            </figure>
        </div>

        <!-- Content -->
        <div class="card-content">

            <%- truncate(strip_html(item.content), { length: 80, omission: '...' }) || truncate(z, {
                length: 80,
                omission: '...'
            }) %>
        </div>

        <!-- ffooter -->
        <div class="ifoot">
            <% if (item.tags && item.tags.length){ %>
                <% item.tags.forEach(function (tag) { %>
                    <a href="<%= url_for(tag.path) %>">
                        <span class="tag is-info"><span class="icon is-small">
                        <i class="fa fa-tag"></i>&nbsp;
                        </span><%= tag.name %>  </span>
                    </a>
                <% }) %>
            <% } %>
            <div class="is-pulled-right">
                <a href="<%- config.root %><%- item.path %>"
                   class="button is-info is-small is-outlined"><%= theme.excerpt_link %></a>
            </div>
        </div>
    </div>
</div>
