<div class="column">
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-calendar-o fa-stack-2x"></i>
                    <span class="more-posts-date" style="margin-top: 1.5em;">
                        <%= item.date.format("YYYY") %>
                    </span>
                    <span class="more-posts-date">
                        <%= item.date.format("MM") %>
                    </span>
                </span>
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <!-- Title -->
                    <strong>
                        <a href="<%- url_for(item.path) %>">
                            <span class="has-text-info"> <%= item.title %></span>
                        </a>
                    </strong>
                    <br>
                    <%- truncate(item.description||strip_html(item.content), { length: 100 }) %>
                </p>
            </div>
        </div>
    </article>
</div>