<div class="card">
    <!-- Title -->
    <div class="card-content">
        <div class="level">
            <div class="level-left">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="<%- gravatar(theme.gravatar, { s: 48, d: 'mm' }) %>" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <h1 class="title is-4">
                            <a href="<%- config.root %><%- item.path %>"
                               class="has-text-info"> <%- item.title || item.link %></a>
                        </h1>
                        <p class="subtitle is-6">
                            <span class="icon is-small"><i class="fa fa-calendar"></i></span>
                            时期：<%= item.date.format(config.epoch_format) %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <%- partial('article-tags', { item: item }) %>
            </div>
        </div>
        <hr/>

        <% if (item.screenShot) { %>
            <h2 class="title is-4">旧站截图</h2>
            <div class="archived-site-screen">
                <img src="<%= item.screenShot %>" alt="screenShot">
            </div>
        <% } %>
        <% if (item.website) { %>
            <div class="archived-site-nav">
                <a class="button is-medium" href="<%= item.website %>">查看旧站</a>
            </div>
        <% } %>

        <!-- Content -->
        <div class="content">
            <%- item.content %>
        </div>

        <hr/>
        <div class="columns is-mobile">
            <div class="column" style="white-space: nowrap;">
                <p class="title is-4"><span class="icon is-medium"><i
                                class="fa fa-file-text-o"></i></span><%= __('Recents Post') %> </p>
            </div>
            <div class="column has-text-right" id="share">


                <div class="box" id="shared" style="display:none; position:absolute; z-index:999; right:100px;">
                    <div class="field has-addons">
                        <div class="control is-expanded  is-hidden-touch">
                            <input class="input is-info" type="text" value="<%- item.permalink %>" id="cur">
                        </div>
                        <div class="control">&nbsp;
                            <a class="button is-info is-outlined" id="fb"><span class="icon"><i
                                            class="fa fa-facebook"></i></span></a>
                            <a class="button is-info is-outlined" id="tw"><span class="icon"><i
                                            class="fa fa-twitter"></i></span></a>
                        </div>
                    </div>

                </div>
                <p class="title is-4">
                    <span class="icon is-medium"><i class="fa fa-share"></i></span>
                    <%= __('Share') %>
                </p>
            </div>
        </div>

        <% var i = 0; %>
        <% site.posts.sort('date', -1).limit(4).each(function(post){ i++; %>
        <% if(i % 2 == 1) { %>
        <div class="columns">
            <% } %>
            <div class="column">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-calendar-o fa-stack-2x"></i>
                            <span class="more-posts-date" style="margin-top: 1.5em;">
                                <%= post.date.format("YYYY") %>
                            </span>
                            <span class="more-posts-date">
                                <%= post.date.format("MM") %>
                            </span>
                        </span>
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>
                                    <a href="<%- url_for(post.path) %>">
                                        <span class="has-text-info"> <%= post.title %></span>
                                    </a>
                                </strong>
                                <br>
                                <%- truncate(strip_html(post.content), { length: 80 }) %>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <% if( i % 2 == 0) { %>
        </div>
        <% } %>
        <% }) %>

        <%- partial('comment') %>
    </div>
</div>
