<section class="hero" style="margin-top:15px;margin-bottom: 1.5rem;">
    <div class="hero-head">
        <%- partial('_partial/menu') %>
    </div>
    <div class="hero-body has-text-centered is-paddingless">
        <a href="<%= theme.menu.Home %>">
            <h1 class="title">
                <img src="<%- config.root %>mstile-70x70.png" style="vertical-align: bottom;width:36px;height:36px;">
                <%= config.title %>
            </h1>
        </a>
        <h2 class="subtitle">
            <% if (config.subtitle){ %>
                <%= config.subtitle %>
            <% } %>
        </h2>

        <% Object.keys(theme.social).forEach(function(key) { %>
            <% if (key == 'email'){ %>
                <a class="button is-info is-outlined" href="mailto:<%= theme.social[key] %>?" title="<%= key.trim() %>">
                    <span class="icon"><i class="fa fa-envelope"></i> </span>
                </a>
            <% } else { %>
                <a class="button is-info is-outlined" href="<%= theme.social[key] %>">
                    <span class="icon"> <i class="fa fa-<%= key.toLowerCase() %>"></i> </span>
                </a>
            <% } %>
        <% }) %>
    </div>
</section>
